@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body .hidden{
    display: none;
}
.login, .loginScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginScreen{
    width: 100%;
    height: 100%;

    background-color: #FFFFFF;
}
.logo{
    width: 130px;
    height: 92px;
    margin-top: 72px;
    margin-bottom: 94px;
}
.loading p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;

    margin-top: 10px;
}
input, input::placeholder{
    font-size: 18px;
    color:#AEAEAE;
    text-align: center;
}
input{
    width: 240px;
    height: 54px;
    margin-bottom: 15px;

    border: solid 1px #D7D7D7;
    border-radius: 4px;

    color:black;
}
button{
    width: 109px;
    height: 45px;

    background-color: #E7E7E7;

    border: none;
    border-radius: 9px;

    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #696969;
}
.topBar, .chat, .bottomBar, li{
    width: 100%;
}
.topBar, .bottomBar{
    height: 80px;
    background-color: #ffffff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    left: 0px;
    z-index: 2;
}
.topBar{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);

    padding: 0px 22px;

    top: 0px;
}
.logoNav{
    width: 75px;
    height: 53px;
}
.menuButton{
    font-size: 42px;
}
.chat{
    height: auto;
    margin: 80px 0px;
    
    padding-top: 26px;

    background-color: #F3F3F3;
}
.chat li:last-child{
    margin-bottom: 80px;
}
li{
    height: auto;
    margin-bottom: 4px;
    border-radius: 2px;
    padding: 12px 9px;
    
    font-size: 14px;
    line-height: 20px;

    display: flex;
    align-items: center;
    
    word-break: break-word;
}
time{
    margin-right: 5px;

    color: #AAAAAA;
}
.status{
    background-color: #DCDCDC;
}
.normal{
    background-color: #FFFFFF;
}
.private{
    background-color: #FFDEDE;
}
.bottomBar{
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);

    padding: 0px 18px;

    bottom: 0px;
}
.text{
    font-size: 18px;
    border: none;
}
.text::placeholder{
    font-style: italic;
    color: #000000;
    opacity: 1;
}
.sendMessage{
    font-size: 26px;
}
.menu{
    width: 100%;
    height: 100%;

    display: flex;

    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10;
}
.darkBackground{
    width: 31%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
}
.sideMenu{
    width: 69%;
    height: 100%;

    background-color: #FFFFFF;
}
.title{
    margin-top: 25px;
    margin-bottom: 10px;
}
.sideMenu p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
}
.sideMenu ion-icon{
    font-size: 23px;
    margin-right: 5px;
}
.participants{
    height: 400px;
    overflow-y: auto;
}
.sideMenu li{
    margin-bottom: -10px;
}
.check{
    font-size: 9px;
    color: #28BB25;

    margin-left: 50px;
}
.textArea p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #505050;
}